.main-letter-div {
    height: 10vw; /* Responsive height based on viewport width */
    width: auto; /* Maintain aspect ratio */
    max-height: 90px; /* Optional: prevent letters from getting too large */

}