@font-face {
    font-family: 'PixelFont'; 
    src: url('./fonts/pixel-font.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oldFont'; 
    src: url('./fonts/pixel-font-old.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arcade'; 
    src: url('./fonts/ARCADE.TTF') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Score'; 
    src: url('./fonts/score.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

.soccer-background {
    background-image: url('./images/Game_background.png');
    width: 100vw; /* Full viewport width */
    height: 80vh; /* Full viewport height */
    background-size: 100% 100%; /* Stretch width to fill, height adjusts automatically */
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.goalie {
    position: absolute;
    bottom: 0;
    left: 50%; /* Default to center */
    transform: translateX(-50%);
    height: 12vh; /* Adjust based on image size */
}
  
.soccer-ball {
    position: absolute;
    width: 5vw; /* Adjust size as needed */
    height: 5vw; /* Adjust size as needed */
}
  
  
.NavBar{
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    padding: 1vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E8E5;
}

.footerBar{
    width: 100vw;
    height: 10vh;
    background-color: #E6E8E5;

}

.nav-title{
    font-family: 'PixelFont';
    width: 40%;
    font-size: 40px;
}

.scoreboard{
    border: black solid 2px;
    padding: 1vh;
    display: flex;
    align-items: center;
    height: 8vh;
    box-sizing: border-box;
    gap: 3vh;

}

.soccer-logo{
    height: 6vh;
}

.score{
    font-family: 'Score';
    font-size: 4vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's on top of everything */
    
}
  
.overlay-message {
    font-family: 'PixelFont';
    font-size: 5vh;
    color: white;
    text-align: center;
    padding: 0 10vh;
}

.cowboy_yasir {
    padding-top: 2vh;
    height: 30vh;
    width: auto;
}

.back-btn{
    width: 10vw;

}

.back-btn:hover{
    cursor: pointer;
}
