@font-face {
    font-family: 'PixelFont'; /* Define a name for the font */
    src: url('./fonts/pixel-font.otf') format('opentype'); /* Provide the path to the font file */
    font-weight: normal;
    font-style: normal;
}

.full-height-flex {
    display: flex;
    align-items: center; /* Centers the content horizontally */
    flex-direction: column;
    justify-content: space-between; /* Space between top and bottom divs */
    height: 70vh; /* Makes the container take up all the available vertical space */
    background-color: #FFFBE4;
    padding: 15vh 0;
}

.landing-phrase-container {
    display: flex;
    flex-direction: column; /* Stacks the words vertically */
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers the content vertically */
    text-align: center; /* Ensures text is centered */
    gap: 5vh;
}

.word-flex {
    display: flex;
    gap: 5px;
    justify-content: center; /* Centers letters */
    width: 100%;
}


/* start btn styles */
.start-btn{
    width: 25vw;
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

/* Text below button */
.explanation-txt{
    font-family: 'PixelFont';
}

/* balloon */
@keyframes floatUp {
    0% {
      transform: translateY(100vh); /* Start at the bottom */
      visibility: visible; 
    }
    100% {
      transform: translateY(-100vh); /* End at the top */
      visibility: visible; 
    }
  }
  
  .balloon {
    position: absolute;
    bottom: 0; /* Start from the bottom of the page */
    animation: floatUp 5s ease-in-out forwards; /* The floating animation */
    animation-duration: 5s;
    width: 50px; /* Adjust the size of the balloon */
    height: auto;
    transition: all 0.5s ease-in-out;
    visibility: hidden;

  }
  
  /* Styling for each balloon, adding a bit of animation randomness */
  .balloon:nth-child(even) {
    animation-delay: 0s;
  }
  
  .balloon:nth-child(odd) {
    animation-delay: 1s; /* Stagger the start time of the animations */
  }
  